.squarify {
  background: white;
  border: 1px solid #aaa;
  display: block;
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .squarify-img-container {
    background: #888;
    position: absolute;
    overflow: hidden;
    text-align: left;
    z-index: 2;
    &.-faded {
      opacity: 0.25;
      overflow: visible;
    }

    > img {
      position: absolute;
      cursor: move;
    }
  }
}
