.squarify {
  display: block;
  position: relative;
  box-shadow: 0 0 1px black inset;
  background: #eee;

  &.-has-image {
    background: transaprent;
    box-shadow: none;
  }

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }

  .squarify-img-container {
    position: absolute;
    overflow: hidden;
    text-align: left;
    z-index: 2;

    &.-faded {
      opacity: 0.25;
      overflow: visible;
    }

    > img {
      position: absolute;
      cursor: move;
    }
  }
}
